/* div {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
} */
/* h1 {
    color: orange;
    padding-left: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(51, 51, 51);
    padding-right: 70px;
}

ul {
    display: flex;
    list-style: none;
    color: white;
}

li {
    margin: 0 20px 0 20px;
    padding-right: 170px;

}

button {
    background-color: rgb(223, 174, 52);
    color: white;
} */

.traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 450px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

.red-light {
    background-color: red;
    margin: 20px 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.yellow-light {
    background-color: yellow;
    margin: 20px 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.green-light {
    background-color: green;
    margin: 20px 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}